*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,40,0.7),rgba(0,0,40,0.7)),url(images/loginbg.webp);
    background-position: center;
    background-size: cover;
    position: relative;

}

.form-box{
    width:50%;
    max-width: 350px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #F8F4F0;
    padding: 50px 60px 70px ;
    text-align: center;
    border-radius: 10px;
}

.form-box img{
    width:150px;
    margin-bottom: 20px;
}

.form-box h1{
       font-size: 30px;
       margin-bottom: 40px;
       position: relative;
       color: #2c1157;
       border-radius: 20px;
       border: 0;
       cursor: pointer;

}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    position: absolute;
    bottom: -12px;
    left:50%;
    transform: translateX(-50%) ;
}

.input-field{
    background: #a9a8a8;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
         margin-left: 15px;
         
}


form p{
    text-align: left;
    font-size: 12px;
}

form p a{
    text-decoration: none;
    color:#7b1bb3;
}

.btn-field{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-field button{
    flex-basis: 48%;
    background: #d0cfd0;
    color: #fff;
    height: 40px;
    border-radius: 18px;
    border: 0;
    cursor: pointer;
    transition: background 1s;
    
}

.input-group{
    height:240px;
}

.btn-field button.disable{
    background-color: #aaa8a8;
    color: #555;
}